<%-include("partials/header.ejs"); %>
	<div class="flex center fdata container">
	<form class="flex center cols" id="rform" action="/fetch/" method="post">
		<p class="text-center" id="err"></p>				
		<p class="text-center"><%=errmsg%></p>
		<div class="form-container flex rows" >	
			<div>
				<p>userID</p>
			</div>
			<div>

				<input type="text" value="<%user.uid%>"  name="uid" id="uid">
			</div>
		</div>
		<div class="form-container flex rows" >	
			<div>
				<p>Name</p>
			</div>
			<div>
				<input type="text" value="<%user.uname%>"  name="fname" id="fname">
			</div>
		</div>
		<div class="form-container  flex rows">
			<div>
				<p>Last Name</p>
			</div>
			<div>
				<input type="text" name="lname" value="<%user.lname%>" id="lname">
			</div>
		</div>
		<div class="form-container flex rows">
			<div>
				<p>Mobile</p>
			</div>
			<div>
				<input type="text" name="mobile" value="<%user.mobile%>" id="mob">
			</div>
		</div>
		<div class="form-container flex rows">
			<div>
				<p>Email</p>
			</div>
			<div>
				<input type="email" name="email" value="<%user.email%>" id="umail">
			</div>
		</div>
		<div class="form-container flex rows">
			<div>
				<p>Password</p>
			</div>
			<div>
				<input type="password" name="pwd" value="<%user.pwd%>" id="umail">
			</div>
		</div>
		<div class="flex center">
			<button class="btn btn-primary " type="submit">Next</button>
		</div>
	</form>	
	</div>
<%- include("partials/footer.ejs"); %>