<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<section class="add-data">
		<h1>Hello there</h1>
		<form action="additional" id="aform" method="post">
		<div>
			<div><p class="text-center">Add your profile pic</p></div>
			<div><input type="file" accept="images/*" name="pic" id="pic"></div>
		</div>
		<div>
			<div><p  class="text-center">Date of birth</p></div>
			<div><input type="date" name="dob"></div>
		</div>
		<div>
			<div><p class="text-center">Home Address</p></div>
			<div><textarea name="address" id="add" cols="10" rows="10"></textarea></div>
		</div>

		<button class="btn btn-primary">Finish</button>			
		</form>

	</section>
</body>
</html>